* {
    word-break: break-all;
    box-sizing: content-box;
    /* outline: 0; */
}

.pointer {
    cursor: pointer;
}
.no-select {
    user-select: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-0 {
    width: 0;
}

.h-0 {
    height: 0;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: white;
}

#Title {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#Items {
    /* background: rgba(0, 0, 0, 0.1); */
    color: rgba(0, 0, 0, 0.8);
}

#Items > .Item {
    font-size: 14px;
    padding: 5px 16px;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#Items > .Item .Developer {
    color: rgb(0, 162, 255);
    font-size: 12px;
}

#Items > .Item.focus {
    background: rgba(0, 0, 0, 0.1);
}

#Items > .Item.Uninstalled {
    opacity: 0.4;
}

#Items > .Item .Icon {
    width: 50px;
    height: 50px;
}

#Items > .Item .View2 {
    margin-left: 10px;
}

#Items > .Item .Description {
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(0, 0, 0, 0.3);
    max-height: 32px;
}

#Items > .Item .Type {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

.NavigationBar {
    background: rgba(0, 0, 0, 1);
    /* justify-content: space-between; */
    color: white;
    font-size: 12px;
    height: 20px;
    position: relative;
}

.NavigationBar > .Left,
.NavigationBar > .Center,
.NavigationBar > .Right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.NavigationBar > .Left {
    left: 7px;
}

.NavigationBar > .Center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavigationBar > .Right {
    right: 7px;
}

.Menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.Menu > .Content {
    background: white;
    font-size: 14px;
}

.Menu > .Content > .Title {
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.Menu > .Content > .Items {
    padding: 5px 0;
}
.Menu > .Content > .Items > .Item {
    padding: 5px 0 ;
    text-align: center;
}
.Menu > .Content > .Items > .Item.focus {
    background: rgba(0, 0, 0, 0.15);
}
